<h1>Editing roster</h1>

<%= form_for :roster, url: roster_path(@roster), method: :patch do |f| %>
  <% if @roster.errors.any? %>
        <div id="error_explanation">
          <h2>
              <%= pluralize(@roster.errors.count, "error") %> prohibited
              this roster from being saved:
          </h2>
          <ul>
              <% @roster.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %> 
          </ul>
        </div>
    <% end %>

    <p>
        <%= f.label :rosterName %><br>
        <%= f.text_field :rosterName %>
    </p>
    
    <p>
        <%= f.submit %>
        <br>
    </p>
    <br>
<% end %>
<br>
<%= link_to 'Back', rosters_path %>