<h1>Listing rosters</h1>
<%=link_to'New Roster',new_roster_path%>


<table>
    <tr>
        <br><br>
        <th>Roster Name</th>
    </tr>
    
      <% @rosters.each do |roster| %>
        <tr>
            <td><%= roster.rosterName %></td>
            <td><%= link_to 'Show', roster_path(roster) %></td>
            <td><%= link_to 'Edit', edit_roster_path(roster) %></td>
            <td><%= link_to 'Destroy', roster_path(roster),method: :delete,data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>        