<h1>
    <%= @roster.rosterName %>'s Roster
</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Teacher</th>
    <th>Grade</th>
  </tr>
<%= render @roster.players %>
</table>

<h2>Add a player:</h2>
<%= render 'players/form' %>

<br><br><br><br>
<%=link_to 'Roster List', rosters_path %>&nbsp;
<%=link_to 'Ladders', ladders_path %>