<%= form_for([@roster, @roster.players.build]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :teacher %><br>
    <%= f.text_field :teacher %>
  </p><p>
    <%= f.label :grade %><br>
    <%= f.text_field :grade %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>