<h1>Editing player</h1>
 
<%= form_for ([@roster, @player]), url: roster_player_update2_path(@roster, @player), method: :post do |f| %>
 
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@player.errors.count, "error") %> prohibited
        this player from being saved:
      </h2>
      <ul>
        <% @player.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :rank %><br>
    <%= f.number_field :rank %>
  </p>
 
  <p>
    <%= f.label :wins %><br>
    <%= f.text_field :wins %>
  </p>
  
  <p>
    <%= f.label :losses %><br>
    <%= f.text_field :losses %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 <br><br><br><br>
<%= link_to 'Back', roster_players_path %>