<h1>New Player</h1>
<%= form_for :player, url: players_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :teacher %><br>
    <%= f.text_field :teacher %>
  </p>
    
  <p>
    <%= f.label :grade %><br>
    <%= f.text_field :grade %>
  </p>
  <%= link_to 'Back', players_path %>
  <p>
    <%= f.submit %>
  </p>
<% end %>